* {
    border: 1.5px solid orange;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'Segoe UI', Ubuntu;
    background-color: #1f2937;
    margin: 0;
    padding: 0;
}

/* Everything but header or footer */
.container {
    display: flex;
    flex-direction: column;
}

/* Similar things to top and bottom */
.header,
.footer {
    color: #E5E7EB;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 32px 64px;
}

.header {
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0px 24px 64px;
}

.logo img {
    width: 64px;
    height: 64px;
}

.links {
    list-style: none;
    display: flex;
    gap: 24px;
    list-style-position: inside;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero,
.cards,
.modal,
.quotes {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 32px;
}

.hero {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    padding: 24px;
}

.author {
    font-weight: bold;
    font-style: none;
    font-size: 24px;
}

.quotes {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.cards-title {
    font-size: 36px;
    font-weight: 700;
}

img {
    width: 400px;
}

p {
    padding: 12px 24px;
}