* {
    border: 1.5px solid orange;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, 'Segoe UI';
    background-color: #1f2937;
    margin: 0;
    padding: 0;
}

/* Everything but header or footer */
.container {
    display: flex;
    flex-direction: column;
}

/* Similar things to top and bottom */
.header,
.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 64px;
}

.header {
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0px 24px 64px;
}

.logo img {
    width: 64px;
    height: 64px;
    margin-top: 6px;
}

.links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.hero,
.cards,
.modal,
.quotes {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
}

.hero {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author {
    font-weight: bold;
    font-style: none;
    font-size: 24px;
}

.quotes {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

.quotes p {
    max-width: 768px;
}

/* HTML semantic tags */
button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    border-radius: 12px;
    padding: 8px 36px;
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    max-width: 550px;
}

p {
    padding: 12px 24px;
    max-width: 360px;
}

b {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    font-style: normal;
}