* {
    
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, 'Segoe UI';
    background-color: #1f2937;
    margin: 0;
    padding: 0;
}

/* Main body of the page */
.container {
    display: flex;
    flex-direction: column;
}

/* Everything but the body */
.header,
.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 64px;
}

.header {
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0px 24px 64px;
}

.logo img {
    width: 64px;
    height: 64px;
    margin-top: 6px;
}

.links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

/* Batch styling */
.hero,
.cards,
.quotes,
.modal {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
}

/* Individual sections */
.hero {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.content h1 {
    max-width: 400px;
}

.content p {
    margin-top: -12px;
}

.hero img {
    border-radius: 18px;
    margin: 0px 12px 0px 24px;
    max-height: 400px;
}

.cards {
    border: 1px solid blue;
    align-items: center;
    flex-wrap: wrap;
    gap: 52px;
    text-align: center;
}

.cards h1 {
    font-size: 36px;
    font-weight: 800;
    align-content: center;
    width: 100%;
    margin-top: -24px;
    margin-bottom: -18px;
}

.cards img {
    width: 150px;
    height: 150px;
    border-radius: 18px;
}

.cards p {
    flex: 1 1 0;
    max-width: 200px;
    margin: 0;
}

.quotes {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quotes p {
    max-width: 768px;
    margin: 0;
}

.modal {
    border: 1px solid green;
    display: flex;
}

/* HTML semantic tags */
button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 8px 36px;
    font-size: 20px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    max-width: 550px;
}

p {
    padding: 12px 24px;
    max-width: 360px;
}

b {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    font-style: normal;
}